<div class="w-full flex justify-center p-6">
    <div
      class="w-100 rounded-lg items-center shadow h-auto p-6 bg-white relative overflow-hidden"
    >
      <div class="flex flex-col justify-center items-center space-y-2">
        <h2 class="text-2xl font-medium text-slate-700">Login</h2>
        <p class="text-slate-500">Ingrese sus datos.</p>
      </div>
      <form [formGroup]="loginForm" class="w-full mt-4 space-y-3">
        <div>
          <input
            class="outline-none border-2 rounded-md px-2 py-1 text-slate-500 w-full focus:border-blue-300"
            placeholder="Username"
            id="username"
            formControlName="email"
            type="text"
          />
        </div>
        <div>
          <input
            class="outline-none border-2 rounded-md px-2 py-1 text-slate-500 w-full focus:border-blue-300"
            placeholder="Password"
            id="password"
            formControlName="password"
            type="password"
          />
        </div>
        <button
          class="w-full justify-center py-1 bg-blue-500 hover:bg-blue-600 active:bg-blue-700 rounded-md text-white ring-2"
          id="login"
          name="login"
          type="button"
          (click)="submit()"
        >
          Iniciar Sesion
        </button>
      </form>
    </div>
</div>
